[submodule "libs/libs/imgui"]
	path = libs/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/tictoctimer"]
	path = libs/tictoctimer
	url = https://github.com/civcode/tic-toc-timer.git
